<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="Vodacom_Sentry" translate="label" type="text" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sentry Reporting</label>
            <tab>general</tab>
            <resource>Vodacom_MagentoSentry::config_vodacom</resource>
            <group id="general" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_sentry" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Sentry Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dsn_url" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>DSN URL</label>
                    <depends>
                        <field id="enable_sentry">1</field>
                    </depends>
                </field>
                <field id="environment" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Environment</label>
                    <comment>Development, QA, Staging</comment>
                    <depends>
                        <field id="enable_sentry">1</field>
                    </depends>
                </field>
                <field id="traces_sample_rate" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Trace Sample Rate</label>
                    <comment>0.2, 0.5, 1.0, 1.2</comment>
                    <depends>
                        <field id="enable_sentry">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
